{% extends "vercel_app/base.html" %}

{% block title %} My app home page {% endblock title %}

{% block content %}
    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Bienvenu sur notre plateforme</h1>
                {% comment %} <p class="lead my-3">Aujourd'hui nous sommes le {{ date }}</p> {% endcomment %}
                {% comment %} <p class="lead my-3">Aujourd'hui nous sommes le {{ date|date:"d F Y H:i:s" }}</p>
                <p class="lead my-3">Aujourd'hui nous sommes le {{ date|date:"d F Y" }} et il est actuellement {{ date|date:"H\hi" }}</p> {% endcomment %}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">Featured post</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Lire la suite</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% load static %}
                        <img class="bd-placeholder-img" width="200" height="250" alt="http://www.w3.org/2000/svg" src="{% static 'assets/brand/FB_IMG_16390232630922744.jpg' %}" >
            
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0">Post title</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Lire la suite</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% load static %}
                        <img class="bd-placeholder-img" width="200" height="250" alt="http://www.w3.org/2000/svg" src="{% static 'assets/brand/FB_IMG_16392247081811527.jpg' %}" >
            
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    From the Firehose
                </h3>
        
                <article class="blog-post">
                    <h3>Example table</h3>
                    <p>And don't forget about tables in these posts:</p>
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Upvotes</th>
                            <th>Downvotes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Alice</td>
                            <td>10</td>
                            <td>11</td>
                            </tr>
                            <tr>
                            <td>Bob</td>
                            <td>4</td>
                            <td>3</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                            <td>Totals</td>
                            <td>21</td>
                            <td>23</td>
                            </tr>
                        </tfoot>
                    </table>
            
                    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
                </article>
        
                {% comment %} <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
                    <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
                </nav> {% endcomment %}
        
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">About</h4>
                        <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Liste de mes plateformes</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://adama-example-app.vercel.app/" target="_blank">Porto folio</a></li>
                            <li><a href="https://adama-example-app.vercel.app/example/" target="_blank">Example</a></li>
                            <li><a href="https://adama-example-app.vercel.app/shopping/" target="_blank">Shopping</a></li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </main>
{% endblock content %}