{% extends "example/base.html" %}

{% block title %} Example app Index {% endblock title %}

{% block content %}
    <main class="container">
        <div class="mb-3">
            <h1> <center> Bienvenu sur mon site de shopping </center> </h1>
            <h2> <center> Aujourd'hui nous sommes le {{ date }} </center> </h2>
            <h2> <center> Aujourd'hui nous sommes le {{ date|date:"d F Y H:i:s" }} </center> </h2>
            <h3> <center> Aujourd'hui nous sommes le {{ date|date:"d F Y" }} et il est actuellement {{ date|date:"H\hi" }} </center> </h3>
        </div>

        <div class="row mb-3 g-3">
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        Card body
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        Card body
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        Card body
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        Card body
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}